body {
  margin: 0;
}

.map {
  width: 100%;
  height: 400px;
}

p {
  text-align: center;
}

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large
{
  background-color: rgba(133, 232, 5, 0.6);
}

.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div
{
  background-color: rgba(133, 232, 5, 0.8);
}
